<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{client.title}"></title>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link rel="stylesheet" th:href="@{/style/main.css}" />
</head>
<body>
	<div id="header">
		<div class="container flex-r">
			<div id="logoAfpa">
				<img th:src="@{/img/logo_home.png}" alt="">
			</div>
			<h1 th:text="#{application.title}"></h1>
			<div id='logOut' class="flex-c">
				<img th:src="@{/img/logo_logout.jpg}" alt=""> <span>Bonjour, ~User~</span>
				<a href="#">deconnexion</a>
			</div>
		</div>
	</div>
	<div id="menu" class="flex-r">
		<a href="\accueil" th:text="#{menu.accueil}"></a>
		<a href="\client" class="active" th:text="#{menu.clients}"></a>
		<a href="\ordreReparation" th:text="#{menu.ordre}"></a>
		<a href="\administration" th:text="#{menu.admin}"></a>
	</div>
	<div id="main">
		<div class="container tab-4">
			<div class="flex-rr clientButton">
				<a href="\client/nouveau" class="flex-c greenButton" th:text="#{client.ajouter}"></a>
			</div>
			<h2 th:text="#{client.title}"></h2>
			<div class="title flex-r">
				<h3 th:text="#{client.prenom}"></h3>
				<h3 th:text="#{client.nom}"></h3>
				<h3 th:text="#{client.email}"></h3>
				<h3 th:text="#{client.telephone}"></h3>
				<h3></h3>
			</div>
			<div th:each="client : ${clients}" class="item flex-r">
				<p th:text="${client.prenom}"></p>
				<p th:text="${client.nom}"></p>
				<p th:text="${client.mail}"></p>
				<p th:text="${client.telephone}"></p>
				<a th:href=@{|/client/${client.id}/|} th:text="#{client.todetail}"></a>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>