<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="#{controle.qualite.title}"></title>
</head>
<body th:object="${cq}">

	<h1 th:text="#{controle.qualite.title}"></h1>
	
	<form action="/controlequalite/create" method="post">
	
	<div>
	<table border="1" >
	
	<tr>
	<th th:text="#{marque}"></th>
	<th th:text="#{immatriculation}"></th>
	<th th:text="#{kilometrage}"></th>
	<th th:text="#{dateControle}"></th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td><input type="text" th:value="${cq.kilometrageFin}" th:field="*{kilometrageFin}"></td>
	<td th:if="${cq.dateDebut} != null"><a th:text="${cq.dateDebut}" th:value="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:field="*{dateDebut}" ></td>	
	<td th:if="${cq.dateDebut} == null"><a th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></td>
	</tr>
	</table>
	
	</div>
		<div th:object="${cq.pneumatique}">
			<h2>Pneumatique</h2>
			<label>Etat pneu AV gauche</label>
			<br>
			<input type="range" id="pneuAvGauche" name="pneuAvGauche" value="50" th:value="${cq.pneumatique.etatPneuAvantGauche}" th:field="*{etatPneuAvantGauche}">
			<br>
			<label>Etat pneu AV droite</label>
			<br>
			<input type="range" id="pneuAvDroit" name="pneuAvDroit" value="50" th:value="${cq.pneumatique.etatPneuAvantDroit}" th:field="*{etatPneuAvantDroit}">
			<br>
			<label>Etat pneu AR gauche</label>
			<br>
			<input type="range" id="pneuArGauche" name="pneuArGauche" value="50" th:value="${cq.pneumatique.etatPneuArriereGauche}" th:field="*{etatPneuArriereGauche}">
			<br>
			<label>Etat pneu AR droite</label>
			<br>
			<input type="range" id="pneuArDroit" name="pneuArDroit" value="50" th:value="${cq.pneumatique.etatPneuArriereDroit}" th:field="*{etatPneuArriereDroit}">
			<br>
			<label>Etat pneu de secours</label>
			<br>
			<input type="range" id="pneuSecours" name="pneuSecours" value="50" th:value="${cq.pneumatique.etatPneuSecours}" th:field="*{etatPneuSecours}">
			<input type="hidden" id="pressionPneuAvantGauche" name="pressionPneuAvantGauche" th:value="${cq.pneumatique.pressionPneuAvantGauche}" th:field="*{pressionPneuAvantGauche}">
			<input type="hidden" id="pressionPneuAvantDroit" name="pressionPneuAvantDroit"  th:value="${cq.pneumatique.pressionPneuAvantDroit}" th:field="*{pressionPneuAvantDroit}">
			<input type="hidden" id="pressionPneuArriereDroit" name="pressionPneuArriereDroit" th:value="${cq.pneumatique.pressionPneuArriereDroit}" th:field="*{pressionPneuArriereDroit}">
			<input type="hidden" id="pressionPneuArriereGauche" name="pressionPneuArriereGauche" th:value="${cq.pneumatique.pressionPneuArriereGauche}" th:field="*{pressionPneuArriereGauche}">
			<input type="hidden" id="pressionPneuSecours" name="pressionPneuSecours" th:value="${cq.pneumatique.pressionPneuSecours}" th:field="*{pressionPneuSecours}">
			</div>
			
			
			<div th:object="${cq.eclairage}">
			<h2>Eclairage</h2>
			<input type="checkbox" id="feuxpositions" name="feuxpositions" th:checked="${cq.eclairage.feuxPosition}" th:field="*{feuxPosition}" > 
			<label>Feux position</label> 
			<br>
			<input type="checkbox" id="eclairageImmatriculation" name="eclairageImmatriculation" th:checked="${cq.eclairage.eclairageImmatriculation}" th:field="*{eclairageImmatriculation}">
			<label>Eclairage immatriculation</label> 
			<br>
			<input type="checkbox"id="feuxCroisement" name="feuxCroisement" th:checked="${cq.eclairage.feuxCroisement}" th:field="*{feuxCroisement}"> 
			<label>Feux croisement</label>
			<br>
			<input type="checkbox"id="feuxRoute" name="feuxRoute" th:checked="${cq.eclairage.feuxRoute}" th:field="*{feuxRoute}"> 
			<label>Feux route</label>
			<br>
			<input type="checkbox"id="indicationDirectionFeuxDetresse" name="indicationDirectionFeuxDetresse" th:checked="${cq.eclairage.indicationDirectionFeuxDetresse}" th:field="*{indicationDirectionFeuxDetresse}"> 
			<label>Indication direction Feux Detresse</label>
			<br>
			<input type="checkbox"id="feuxStop" name="feuxStop" th:checked="${cq.eclairage.feuxStop}" th:field="*{feuxStop}"> 
			<label>Feux stop</label>
			<br>
			<input type="checkbox"id="feuxAntiBrouillard" name="feuxAntiBrouillard" th:checked="${cq.eclairage.feuxAntiBrouillard}" th:field="*{feuxAntiBrouillard}"> 
			<label>Feux antibrouillard</label>
			<br>
			<input type="checkbox"id="feuxRecul" name="feuxRecul" th:checked="${cq.eclairage.feuxRecul}" th:field="*{feuxRecul}"> 
			<label>Feux recul</label>
			<br>
			</div>
			
			<div th:object="${cq.visibilite}">
			<h2>Visibilité</h2>
			<input type="checkbox"id="pareBrise" name="pareBrise" th:checked="${cq.visibilite.pareBrise}" th:field="*{pareBrise}"> 
			<label>Pare brise</label>
			<br>
			<input type="checkbox"id="vitrage" name="vitrage" th:checked="${cq.visibilite.vitrage}" th:field="*{vitrage}"> 
			<label>Vitrage</label>
			<br>
			<input type="checkbox"id="essuieGlaceAvant" name="essuieGlaceAvant" th:checked="${cq.visibilite.essuieGlaceAvant}" th:field="*{essuieGlaceAvant}"> 
			<label>Essuie glace avant</label>
			<br>
			<input type="checkbox"id="essuieGlaceArriere" name="essuieGlaceArriere" th:checked="${cq.visibilite.essuieGlaceArriere}" th:field="*{essuieGlaceArriere}"> 
			<label>Essuie glace arriere</label>
			<br>
			<input type="checkbox"id="laveGlace" name="laveGlace" th:checked="${cq.visibilite.laveGlace}" th:field="*{laveGlace}"> 
			<label>Lave glace</label>
			<br>
			<input type="checkbox"id="lavePhare" name="lavePhare" th:checked="${cq.visibilite.lavePhare}" th:field="*{lavePhare}"> 
			<label>Lave phare</label>
			<br>
			<input type="checkbox"id="retroInterieur" name="retroInterieur" th:checked="${cq.visibilite.retroInterieur}" th:field="*{retroInterieur}"> 
			<label>Retroviseur interieur</label>
			<br>
			<input type="checkbox"id="retroExterieur" name="retroExterieur" th:checked="${cq.visibilite.retroExterieur}" th:field="*{retroExterieur}"> 
			<label>Retroviseur exterieur</label>
			<br>
			<input type="checkbox"id="immatriculation" name="immatriculation" th:checked="${cq.visibilite.immatriculation}" th:field="*{immatriculation}"> 
			<label>Immatriculation</label>
			<br>
			</div>
			
			
		<div th:object="${cq.niveau}">
		<h2>Niveau</h2>
		<input type="checkbox" id="liquideRefroidissement" name="liquideRefroidissement" th:checked="${cq.niveau.liquideRefroidissement}" th:field="*{liquideRefroidissement}">
		<label>Liquide de refroidissement</label> 
		<br>
		<input type="checkbox" id="laveGlace" name="laveGlace" th:checked="${cq.niveau.laveGlace}" th:field="*{laveGlace}"> 
		<label>Lave-glace</label>
		<br>
		<input type="checkbox" id="huileMoteur" name="huileMoteur" th:checked="${cq.niveau.huileMoteur}" th:field="*{huileMoteur}"> 
		<label>Huile moteur</label>
		<br>
		<input type="checkbox" id="liquideFrein" name="liquideFrein" th:checked="${cq.niveau.liquideFrein}" th:field="*{liquideFrein}"> 
		<label>Liquide frein</label>
		<br>
		<input type="checkbox" id="huileDirectionAssistee" name="huileDirectionAssistee" th:checked="${cq.niveau.huileDirectionAssistee}" th:field="*{huileDirectionAssistee}"> 
		<label>huile Direction Assistee</label>
		<br>
		</div>
		<div>
		<h2 th:text="#{observation}"></h2>
		<br>
		<textarea rows="4" cols="50" placeholder="Entrer une observation" th:inline="text" th:field="*{observation}">[[${cq.observation}]]</textarea>
		</div>
		
		<div>
			<input type="submit" th:value="#{controle.valider}"></button>
		</div>
	</form>

	<form action="">
		<input type="submit" th:value="#{controle.return}">
	</form>

</body>
</html>