<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="#{controle.qualite.title}"></title>
</head>
<body>

	<h1 th:text="#{controle.qualite.title}"></h1>

	<form>
		<div>
			<h2>Pneumatique</h2>
			<h2>Eclairage</h2>
			<input type="checkbox" id="feuxpositions" name="feuxpositions" value=""> 
			<label>feuxposition</label> 
			<input type="checkbox" id="feuxposition" name="feuxpositions" value="">
			<label>eclairageImmatriculation</label> 
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>feuxCroisement</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>feuxRoute</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>indicationDirectionFeuxDetresse</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>feuxStop</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>feuxAntiBrouillard</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>feuxRecul</label>
			
			
			<h2>Visibilité</h2>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>pareBrise</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>vitrage</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>essuieGlaceAvant</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>essuieGlaceArriere</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>laveGlace</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>lavePhare</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>retroInterieur</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>retroExterieur</label>
			<input type="checkbox"id="feuxposition" name="feuxpositions" value=""> 
			<label>immatriculation</label>
			
			
		
		<h2>Niveau</h2>
		<input type="checkbox" id="feuxposition" name="feuxpositions" value="">
		<label for="subscribeNews">ositions</label> <input type="checkbox"
			id="feuxposition" name="feuxpositions" value=""> <label
			for="subscribeNews">feuxpositions</label>
		</div>
		<div>
			<button type="submit">S'abonner</button>
		</div>
	</form>

	<form action="">
		<input type="submit" th:value="#{vehicule.return}">
	</form>

</body>
</html>