<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{client.title}"></title>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link rel="stylesheet" th:href="@{/style/main.css}" />
</head>
<body>
	<div id="header">
		<div class="container flex-r">
			<div id="logoAfpa">
				<img th:src="@{/img/logo_home.png}" alt="">
			</div>
			<h1 th:text="#{application.title}"></h1>
			<div id='logOut' class="flex-c">
				<img th:src="@{/img/logo_logout.jpg}" alt=""> <span>Bonjour, ~User~</span>
				<a href="#">deconnexion</a>
			</div>
		</div>
	</div>
	<div id="menu" class="flex-r">
		<a href="accueil" th:text="#{menu.accueil}"></a>
		<a href="client" class="active" th:text="#{menu.clients}"></a>
		<a href="#" th:text="#{menu.ordre}"></a>
		<a href="#" th:text="#{menu.admin}"></a>
	</div>
	<div id="main">
		<div class="container tab-4">

			<h2 th:text="#{client_new.title}"></h2>

			
			<div class="flex-rr middle">
				<a href="#" class="flex-c greenButton" th:text="#{client_new.create}"></a>
			</div>
			
		</div>
	</div>
</body>
</html>