<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title th:text="#{vehicule.title}"></title>
</head>
<body>

	<h1 th:text="#{vehicule.title}"></h1>

	<form action="">
		<table border="1">

			<tr>
				<th th:text="#{vehicule.marque}"></th>
				<th th:text="#{vehicule.modele}"></th>
				<th th:text="#{vehicule.kilometrage}"></th>
				<th th:text="#{vehicule.numeroCarteGrise}"></th>
				<th th:text="#{vehicule.numeroAssurance}"></th>
				<th th:text="#{vehicule.immatriculation}"></th>
				<th th:text="#{vehicule.vin}"></th>
				<th th:text="#{vehicule.dateMiseCirculation}"></th>
				
		
			</tr>
			<tr th:each="vehicule : ${vehicules}">
				<td th:text="$vehicule.marque"></td>
				<td th:text="$vehicule.modele"></td>
				<td th:text="$vehicule.kilometrage"></td>
				<td th:text="vehicule.numeroCarteGrise"></td>
				<td th:text="vehicule.numeroAssurance"></td>
				<td th:text="vehicule.immatriculation"></td>
				<td th:text="vehicule.vin"></td>
				<td th:text="vehicule.dateMiseCirculation"></td>
			
			</tr>
		</table>
	</form>
	
	<form action="">
		<input type="submit" th:value="#{vehicule.return}">
	</form>
		
</body>
</html>