* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Titillium Web"
}

html, body {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

li {
	list-style: none;
}

h2 {
	font-variant: small-caps;
	font-size: 35px;
	font-weight: 300;
	margin: 30px 0;
	border-bottom: 2px solid #28a745;
}

.flex-c {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.flex-cr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.flex-r {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.flex-rr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
}

.greenButton {
	padding: 7px 20px;
	background-color: #28a745;
	color: white;
	margin-top: 25px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
}

.greenButton:hover {
	background-color: #23903c;
}

.clientButton .greenButton {
	margin: 0;
}

.middle {
	margin-top: 50px;
	justify-content: center;
	align-items: center;
}

.container .item a {
	text-decoration: underline;
	color: #28a745;
}

/*
   ================
   =====HEADER===== 
   ================
*/
#header .container {
	justify-content: space-between;
	align-items: center;
	max-width: 1240px;
	margin: 0 auto;
	padding: 25px 0;
}

#header h1 {
	font-size: 80px;
	color: #28a745;
	font-variant: small-caps;
	font-weight: normal;
}

#header #logoAfpa, #header #logOut {
	width: 250px;
}

#header #logOut {
	justify-content: center;
	align-items: center;
}

#header #logOut a {
	color: darkgray;
	text-decoration: underline;
}

#header #logOut img {
	max-width: 15%;
}

#header i {
	color: #dc3545;
	font-size: 20px;
	text-align: center;
}

/*
   ================
   ======MENU====== 
   ================
*/
#menu {
	background-color: #28a745;
	justify-content: center;
	align-items: center;
}

#menu a {
	color: white;
	padding: 5px 30px;
	font-size: 23px;
}

#menu a.active {
	background-color: white;
	color: #28a745;
}

#menu a:hover {
	background-color: white;
	color: #28a745;
}

/*
   ================
   ======MAIN====== 
   ================
*/
#main {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container .item, .container .title {
	justify-content: space-around;
}

.tab-4 .title h3 {
	width: 20%;
	background-color: #28a745;
	color: white;
	font-size: 20px;
	font-weight: normal;
	margin: 4px 2px;
	padding: 10px 15px;
}

.tab-4 .item p, .tab-4 .item a {
	width: 20%;
	font-size: 17px;
	margin: 2px 2px;
	padding: 10px 15px;
}

.container .item:nth-child(even) p, .container .item:nth-child(even) a {
	background-color: rgba(240, 240, 240, .65);
}

.container .item:nth-child(odd) p, .container .item:nth-child(odd) a {
	background-color: rgba(215, 215, 215, .65);
}

/*
   ========================
   ======FICHE-CLIENT====== 
   ========================
*/
.ficheClient h2 {
	margin-bottom: 50px;
}

.ficheClient .info {
	padding: 0 10%;
	justify-content: space-around;
}

.ficheClient .info h4 {
	font-weight: normal;
	font-size: 24px;
	color: #28a745;
}

.ficheClient .info p {
	font-size: 24px;
}

.ficheClient .info #address {
	margin-bottom: 0 !important;
}

.ficheClient .info .flex-c {
	width: 50%;
	justify-content: space-between;
}

/*
   ========================
   =======NEW-CLIENT======= 
   ========================
*/
.input {
	padding: 0 10%;
	margin: 30px 0;
	justify-content: space-between;
}

.input span {
	font-weight: normal;
	font-size: 22px;
	color: #28a745;
}

.input sup {
	margin-right: 10px;
	color: deeppink;
	font-size: 18px;
	font-weight: 600;
}

.input input, .input textarea {
	width: 100%;
	padding: 5px 10px;
	font-size: 18px;
	border: 1px solid grey;
}

.input-50 label {
	width: 45%;
}

.input-33 label {
	width: 30%;
}

.input-100 label {
	width: 100%;
}

.input input:required:invalid {
	border-right: 5px solid red;
	outline-color: red;
}

.input input:valid {
	border-right: 5px solid green;
	outline-color: green;
}

/*
   ========================
   ========TIMELINE======== 
   ========================
*/
#timeline {
	margin: 50px 0;
	justify-content: center;
}

#timeline span {
	position: relative;
	display: block;
	text-align: center;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	padding: 0 10px 0 5px;
	margin-right: 23px;
	background: lightgray;
	color: black;
}

#timeline span.active {
	background-color: #28a745;
	color: white;
}

#timeline span.active:before {
	border-color: #28a745;
	border-left-color: transparent;
}

#timeline span.active:after {
	border-left-color: #28a745;
}

#timeline span:first-child {
	padding-left: 15px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 0 0 4px;
}

#timeline span:first-child:before {
	border: none;
}

#timeline span:last-child {
	padding-right: 15px;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0;
	border-radius: 0 4px 4px 0;
}

#timeline span:last-child:after {
	border: none;
}

#timeline span:before, #timeline span:after {
	content: "";
	position: absolute;
	top: 0;
	border: 0 solid lightgray;
	border-width: 20px 10px;
	width: 0;
	height: 0;
}

#timeline span:before {
	left: -20px;
	border-left-color: transparent;
}

#timeline span:after {
	left: 100%;
	border-color: transparent;
	border-left-color: lightgray;
}

/*
   ========================
   ========FICHE-OR======== 
   ========================
*/

#orDetail .flex-c {
	width: 100% !important;
}

textarea {
	max-width: 100%;
	height: 250px;
}



/*
   ========================
   =========FOOTER========= 
   ========================
*/
#footer {
	display: none;
	position: relative;
	bottom: 0;
	background-color: #28a745;
	width: 100%;
	padding: 5px 0;
	color: white;
	font-weight: lighter;
}

#footer h3 {
	color: white;
	font-weight: lighter;
	text-align: center;
	font-size: 15px;
}