html{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.mainTable
{
    border-collapse: collapse;
    width: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

.mainTable th 
{
	background-color:  #4CAF50;
	color:white;
	text-align: left;
	font-weight: normal
}

.mainTable td,th 
{
	border: 1px solid black;
}

.mainTable tr:nth-child(even){background-color: #DDDDDD;}
.mainTable tr:nth-child(odd){background-color: #EEEEEE;}

.mainTable tr:hover {background-color: #BBBBBB;}

.button {
    border: 1px solid black;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 4px;
    width:120px
}
.button:hover {background-color: #BBBBBB;}

.text {
 	width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

// et on masque le input
.text {
    display: none;
}

.userTable
{
    border-collapse: collapse;
    width: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

.userTable th 
{
	background-color:  #4CAF50;
	color:white;
	text-align: left;
	font-weight: normal
}

.error {
	background-color: red;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border-radius: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

a:link {
	text-decoration: none;
	color: orange;
}
a:visited {
	text-decoration: none;
	color: orange;
}
a:hover {
	text-decoration: noce;
	color: #BB0000;
	font-weight: bold;
	font-size: large;
}
a:active {
	text-decoration: none;
	color: orange;
}

.rTable {
		    	display: table;
		    	width: 100%;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
		}
.rTableRow {
    	display: table-row;
}
.rTableRowHead {
    	display: table-row;
}
.rTableCell {
    	display: table-cell;
    	padding: 3px 10px;
    	border: 1px solid #000000;
    	background-color: #EEEEEE;
}
.rTableHead {
    	display: table-cell;
    	padding: 3px 10px;
    	border: 1px solid #000000;
}
.rTableHeading {
    	display: table-header-group;
    	background-color: #4CAF50;
    	font-weight: bold;
    	color: white;
}
.rTableFoot {
    	display: table-footer-group;
    	font-weight: bold;
    	background-color: #ddd;
}
.rTableBody {
    	display: table-row-group;
    	background-color: white;
}

/*
div [class=rTableRow]:hover {
	background-color: #FF0000;
}
*/
.rTableRow:hover {
	background-color: #FF0000;
}

.rTableRow:nth-child(even) {
	background-color: #0000FF;
	}
.rTableRow:nth-child(odd) {
	background-color: #00FF00;
	}
	
.myGrid {
	display: grid;
	grid-template-columns:20% 20% auto auto;
}
.myGridHeader {
	background-color:  #4CAF50;
	color:white;
	text-align: left;
	font-weight: bold;
}	
.myGridItemOdd {
	background-color: #0000FF;
}	
.myGridItemEven {
	background-color: #00FF00;
}	
.myPseudoTable {
    border-collapse: collapse;
    width: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}
.myPseudoTr {
	clear: both;
}
.myPseudoTh {
	background-color:  #4CAF50;
	color:white;
	text-align: left;
	font-weight: bold;
	border: 1px solid black;
	float: left;
	width:20%;
	height:30px;
}
.myPseudoTd {
	text-align: left;
	font-weight: normal;
	float: left;
	width:20%;
	border: 1px solid black;
	background-color: inherit;
	height:30px;
}
.myPseudoTh span {
	margin-left: 5Px;
	vertical-align: text-bottom;
	height:inherit;
	background-color: red;
}

.myPseudoTd span {
	margin-left: 5Px;
	background-color: red;
	display: table-cell;
    vertical-align: middle;
}

.myPseudoTd div {
	height:inherit;
	background-color: red;
    top:50%;
    position:relative;
	margin-left: 10Px;
}

.myPseudoTh:last-child {
	width:30%;
}
.myPseudoTd:last-child {
	width:30%;
}

.myPseudoTr:nth-child(even){background-color: #DDDDDD;}
.myPseudoTr:nth-child(odd){background-color: #EEEEEE;}

.myPseudoTr:hover {background-color: #BBBBBB;}

.title{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}